.vs/
bin/
obj/
*.user
*.suo
*.cache
*.log
*.vspscc
*.vsp
*.pidb
*.userprefs
*.dbmdl
*.vsidx
*.v2
*.bin
.vs
.vs/Bioscoo_DW.Console/v17/.suo
*.dll
*.dll
*.pdb
*.dll
*.pdb
.vs/Bioscoo_DW.Console/v17/.suo
.sonarqube
.idea

